* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
	color: #bebebe;
	text-decoration: none;
}

ul {
	list-style: none;
}

/******************************
	  Navigation Menu
******************************/

.horizontal-menu {
	color: #BEBEBE;
	display: block;
	height: 50px;
	margin: 20px auto;
	max-width: 1100px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}


/******************************
		Globals
******************************/

.horizontal-menu.plain{
	display: block;
}

.horizontal-menu.plain li{
	float: left;
	height: 100%;
	width: 16.6666%;
}

.horizontal-menu.plain li a{
	display: block;
	height: 100%;
	line-height: 50px;
	text-align: center;
	transition: background-position 0.2s ease 0s;
}

.horizontal-menu.plain li a{
	transition: background-position 0.1s ease 0s;
}

.horizontal-menu.plain li:not(.active):hover a{
	color: #FFF;
	background-position: 100% 0;
}

.horizontal-menu.plain li.active a:active{
	background: #BA3032;
	color: #FFF;
}


/******************************
    Plain Horizontal Menu
******************************/

.horizontal-menu.plain li a {
	background: #2c2d2f linear-gradient(to left, #3B3D3F 50%, #2c2d2f 50%) repeat scroll 0 0 / 200% 100%;
}

.horizontal-menu.plain li.active a {
	background: #DB3839;
	color: #FFF;
}